.box {
  display: grid;
}

.pv-16 {
  padding: 0 16px;
}

.row-gap-8 {
  row-gap: 8px;
}

.mt-24 {
  margin-top: 24px;
}

.image {
  width: 100%;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.references > h4 {
  margin: 0;
}

.references > cite > a,
.references > cite > a:visited {
  color: #ffdb58;
  font-weight: bold;
}

.description {
  margin: 0;
}

.list-title {
  margin: 0;
  width: 100%;
  text-align: center;
  color: #ebdd22
}
